.resume-preview {
    border-radius: 3%;
    width: 40%;
}

@media (max-width: 1250px) {
    .resume-preview {
        width: 50%;
    }
}

@media (max-width: 850px) {
    .resume-preview {
        width: 75%;
    }
}