#sticky-footer {
    padding: 2.5px 0;
    color:aliceblue;
    font-size: 14px;
    background-color:rgba(0, 0, 0, 0.5);
    text-align: center; /* optional */
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

p {
    display: flexbox;
}

.social {
    text-align: left;
    margin-right: 20px;
}